.overall-explorers-container {
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: #f6f7fb;
  .heading {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    h1{
      margin: 0;
    }
    .buttons {
      width: auto;
      margin-left: auto;
      display: inline-flex;
      position: relative;
      button {
        margin-left: 15px;
        border-radius: 3px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 10px 15px;
        font-size: 12px;
        line-height: 14px;
        font-weight: 600;
        i {
          color: #404040;
          margin-right: 10px;
          &.fa-sort-down {
            margin-left: 10px;
            margin-top: -3px;
            margin-right: 0;
          }
        }
        
        &.filters-btn {
          background-color: #ffffff;
          border: 1px solid #eef0fb;
          color: #404040;
        }
        &.sla-btn {
          background-color: #dde1f8;
          border: 1px solid #dde1f8;
          color: #383874;
        }
      }
      .sla-buttons-popup {
        background-color: #ffffff;
        border-radius: 5px;
        padding: 3px;
        display: none;
        position: absolute;
        top: 36px;
        width: 150px;
        right: 0;
        z-index: 10;
        box-shadow: 0px 4px 32px 0px rgba(0, 16, 61, 0.1607843137);
        &.active{
          display: block;
        }
        button {
          border: none;
          background: none;
          margin-bottom: 0;
          padding: 10px 15px;
          font-size: 12px;
          line-height: 14px;
          font-weight: 600;
          color: #383874;
          margin-left: 0;
          display: block;
          width: 100%;
          text-align: left;
          i{
            margin-right: 5px;
          }
          &.active{
            background-color: #dde1f8;
          }
        }
      }
    }
  }
  .tabs-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 20px;
    .header {
      display: flex;
      width: 100%;
      align-items: center;
      .tabs-left {
        width: auto;
        display: inline-flex;
        border-bottom: 1px solid #b3b3b3;
        button {
          padding-top: 8px;
          padding-bottom: 10px;
          padding-left: 25px;
          padding-right: 25px;
          font-size: 12px;
          font-weight: 600;
          color: #383874;
          cursor: pointer;
          width: auto;
          display: inline-flex;
          text-align: center;
          position: relative;
          border: none;
          background: none;
  
          &::after {
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            content: "";
            opacity: 0;
            position: absolute;
            background-color: #8676ff;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            box-shadow: rgba(134, 118, 255, 0.15) 0px 2px 1px, rgba(134, 118, 255, 0.15) 0px 4px 2px, rgba(134, 118, 255, 0.15) 0px 8px 4px, rgba(134, 118, 255, 0.15) 0px 16px 8px, rgba(134, 118, 255, 0.15) 0px 32px 16px;
          }
          &.active {
            &::after {
              opacity: 1;
            }
          }
        }
      }
      .tabs-right {
        display: inline-flex;
        width: auto;
        align-items: center;
        margin-left: auto;
        .calendar {
          display: inline-flex;
          background-color: #ffffff;
          border-radius: 25px;
          padding: 1px;
          margin: 0;
          list-style: none;
          li {
            display: inline-flex;
            padding: 5px 10px;
            font-size: 12px;
            line-height: 16px;
            color: #404040;
            font-weight: 500;
            border-radius: 25px;
            cursor: pointer;
            &.active{
              color: #ffffff;
              background-color: #3247e5;
            }
          }
        }
        .events-btn {
          display: inline-flex;
          margin-left: 15px;
          color: #ffffff;
          font-size: 12px;
          line-height: 16px;
          font-weight: 600;
          padding: 10px 30px;
          border-radius: 3px;
          border: none;
          background-color: #3247e5;
        }
      }
    }
    .tabs-contents {
      display: flex;
      width: 100%;
      padding-top: 20px;
    }
  }
}

.sla-buttons-popup-bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}